<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8" />
<title>Crawlera</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="DjkyBOdMR0ikOHKSpYZQfk6gl05XZjfud-4KzX0O3Js" />

<link href='http://fonts.googleapis.com/css?family=Orbitron|Open+Sans' rel='stylesheet' type='text/css'>
<link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ site.baseurl }}/js/modernizr-2.6.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>
<body>
<div class="wrap-body">
  <div class="container">
    <div class="header-bg"></div>
    <div class="body clearfix">
      <div class="row">
        <div class="span12">
          <div class="" align="center" style="margin-left: -10px;">
            <h2 class="logo"></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <div class="masthead" align="center">
            <h2 class="crawlera" style="margin-top: -10px;">
              <a href="{{ site.baseurl }}/">Crawlera</a>
            </h2>
            <br />
            <p class="center">
            Crawlera is a service of the 
            <a href="http://scrapinghub.com/platform">Scrapinghub Platform</a>.
            </p>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="contenido">
  {{ content }}
</div>
<div class="header-bg"></div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-20306421-3', 'crawlera.com');
ga('send', 'pageview');
</script>

</body>
</html>
